.footer {
  min-height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-dark-rose;
  position: relative;
  overflow: hidden;

  &::after {
    content: 'olins';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #774c60;
    font-family: 'Raleway', sans-serif;
    font-size: 400px;
    font-style: italic;
    font-weight: 900;
    line-height: 250px;
    z-index: 0;
  }

  &__left {
    padding-left: 125px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;

    @include xl {
      padding-left: 50px;
      width: 70%;
    }

    @include lg {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 50px;
      width: 60%;
      flex-direction: column;
    }

    @include md {
      width: 80%;
    }

    @include xs {
      padding-right: 24px;
      padding-left: 30px;
    }

    &-info {
      flex-basis: 27%;
      
      p {
        color: $color-light-rose;
        font-size: 11px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        line-height: 1.2;
        text-align: justify;

        @include lg {
          padding-bottom: 15px;
        }
      }
    }

    &-contacts {
      flex-basis: 27%;
      line-height: 1.2;

      &-phone {
        font-size: 18px;
        color: $color-white;
        font-weight: 700;
        margin-bottom: 10px;
      }

      &-adress {
        font-size: 14px;
        color: $color-white;
        font-weight: 400;
        margin-bottom: 20px;

        @include lg {
          margin-bottom: 10px;
        }
      }

      &-copyrights {
        color: $color-light-rose;
        font-size: 11px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

        @include lg {
          margin-bottom: 15px;
        }
      }
    }

    &-navigation {
      flex-basis: 33%;


      &-list {
        margin: 0;
        margin-right: -40px;
        padding-left: 0;
        height: 80px;
        list-style: none;
        column-count: 2;

        &-item {
          font-size: 10px;  
          font-weight: 700;
          line-height: 26px;
          color: $color-yellow;
          text-decoration: none;         

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__right {
    padding-right: 125px;
    width: 50%;
    text-align: right;
    z-index: 1;

    @include xl {
      padding-right: 50px;
      width: 30%;
    }

    @include lg {
      padding-right: 50px;
      width: 40%;
    }

    @include md {
      width: 20%;
    }

    @include xs {
      padding-right: 30px;
    }

    &-social {

      @include md {
        display: flex;
        flex-direction: column;
        align-content: space-between;
      }
      
      a {
        margin-left: 27px;
        font-size: 25px;
        color: rgba($color-white, 0.5);
        transition: color 0.3s;

        @include md {
          display: flex;
          margin-left: 0;
          justify-content: flex-end;
          padding-bottom: 35px;

          &:last-of-type {
            padding-bottom: 0;
          }
        }

        &:hover,
        &:focus {
          color: rgba($color-white, 1);
        }
      }
    }
  }
}