.header {
  position: relative;
  
  &-slider {

    &__item {

      figure {
        position: relative;
        margin: 0;
      }

      &-image {
        display: block;
        // max-width: 100%;
        height: 70vh;
        position: relative;
        background-position: 50% 50%;
        background-size: cover;
      }

      &-category {
        position: absolute;
        // top: 0;
        top: 33.1%;
        // left: 0;
        left: 24%;
        // width: 100%;
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-info {
          max-width: 994px;
          padding-left: 90px;
          padding-bottom: 28px;
          box-sizing: border-box;
          width: 100%;
          position: relative;
          line-height: 1;

          &::after {
            content: 'olins';
            position: absolute;
            // left: -30px;
            left: -3.9%;
            // top: -40px;
            top: -16.7%;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 350px;
            color: rgba(115, 73, 91, 0.05);
            font-family: 'Raleway', sans-serif;
            font-style: italic;
            font-weight: 900;
          }

          span {
            margin-bottom: 20px;
            color: #7f5568;
            font-size: 21px;
            font-style: italic;
            font-family: 'Playfair Display', serif;
            line-height: 1;
            display: block;
          }

          h2 {
            margin: 0;
            font-size: 45px;
            // color: #000000;
            font-family:  'Raleway', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.1;
            text-shadow:rgba(255, 255, 255, 0.75) 0 0 1px;;
          }

          &-link {
            margin-top: 20px;
            font-size: 16px;
            font-family:  'Raleway', sans-serif;
            font-weight: 500;

            a {
              margin-left: 10px;
              color: #7f5568;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  &-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(115, 72, 92, 0.9);
    display: flex;
    align-items: center;

    &__logo {
      margin-left: 45px;
      color: #ffffff;
      display: block;
      font-size: 43px;
      font-family: 'Raleway', sans-serif;
      font-style: italic;
      font-weight: 900;
      text-decoration: none;
      width: 20%;
    }

    &__list {
      padding-left: 0;
      font-size: 0; // 1 Убираем отступы между li
      width: 60%;
      text-align: center;

      &-item {
        display: inline-block; // 0 Убираем отступы между li
        font-size: 13px; // 2 Убираем отступы между li
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;

        a {
          margin-left: 20px;
          margin-right: 20px;
          color: inherit;
          text-decoration: none;

          &:hover {
            color: #fee489;
            transition: all 0.3s ease-in-out;
          }
        }

        &.active {
          color: #fee489;
        }
      }
    }

    &__cart {
      display: flex;
      align-items: center;
      margin-right: 45px;
      width: 20%;
      justify-content: flex-end;

      a {
        display: block;
        margin-left: 5px;
        width: 21px;
        height: 21px;
        border-radius: 100%;
        text-align: center;
        line-height: 21px;
        font-size: 10px;
        color: #7f5669;
        font-family: Arial, Helvetica, sans-serif serif;
        background-color: #fee489;
        text-decoration: none;

        &:hover {
          background-color: #ffffff;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}


// slider buttons
.slick-prev {
  font-size: 0;
  background: rgba(0, 0, 0, 0.1) url(../img/left.svg) center center no-repeat;;
  width: 42px;
  height: 42px;
  display: block;
  border-radius: 100%;
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -66px; // 21px + 45px =  чтобы стало по центру, так как размер самой кнопки 42px и 90px - размер меню которое находится поверх слайдера
  margin-left: 45px;
  cursor: pointer;
  z-index: 1;

  &:hover {
    background: #fee489 url(../img/left_hover.svg) center center no-repeat;
  }
}

.slick-next {
  font-size: 0;
  background: rgba(0, 0, 0, 0.1) url(../img/left.svg) center center no-repeat;;
  width: 42px;
  height: 42px;
  display: block;
  border-radius: 100%;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -66px; // 21px + 45px =  чтобы стало по центру, так как размер самой кнопки 42px и 90px - размер меню которое находится поверх слайдера
  margin-right: 45px;
  cursor: pointer;
  z-index: 1;
  // transform: rotate(180deg); // нам не подходит
  transform: scale(-1, 1); // Зеркальное отражение по горизонтали.

  &:hover {
    background: #fee489 url(../img/left_hover.svg) center center no-repeat;
  }
}

// slider indicators
.slick-dots {
  position: absolute;
  bottom: 90px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;  
    cursor: pointer;

    button {
      font-size: 0;
      line-height: 0;
      display: block; 
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;  
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;

      &:hover,
      &:focus {
        outline: none;

        &:before,
        &:before {
          opacity: 1;
        }
      }

      &:before {
        font-family: 'slick';
        font-size: 30px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;      
        width: 20px;
        height: 20px;     
        content: '•';
        text-align: center;     
        opacity: 0.5;
        color: #000000;
        text-shadow: #ffffff 0 0 5px;        
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &.slick-active button:before {
      opacity: 1;
      color: #fee489;
      text-shadow: #000000 0 0 3px;
    }
  }
}