.header {
  position: relative;
  
  &-slider {

    &__item {

      figure {
        position: relative;
        margin: 0;
      }

      &-image {
        display: block;
        // max-width: 100%;
        height: 70vh;
        position: relative;
        background-position: 50% 50%;
        background-size: cover;
      }

      &-category {
        position: absolute;
        // top: 0;
        top: 33.1%;
        // left: 0;
        left: 24%;
        // width: 100%;
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-info {
          max-width: 994px;
          padding-left: 90px;
          padding-bottom: 28px;
          box-sizing: border-box;
          width: 100%;
          position: relative;
          line-height: 1;

          &::after {
            content: 'olins';
            position: absolute;
            // left: -30px;
            left: -3.9%;
            // top: -40px;
            top: -16.7%;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 350px;
            color: rgba($color-dark-rose, 0.05);
            font-style: italic;
            font-weight: 900;
          }

          span {
            margin-bottom: 20px;
            color: $color-rose;
            font-size: 21px;
            font-style: italic;
            line-height: 1;
            display: block;
          }

          h2 {
            margin: 0;
            font-size: 45px;
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.1;
            text-shadow: rgba(#ffffff, 0.75) 0 0 1px;;
          }

          &-link {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 500;

            a {
              margin-left: 10px;
              color: $color-rose;

              &:hover,
              &:focus {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  &-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: rgba($color-dark-rose, 0.9);
    display: flex;
    align-items: center;

    &__logo {
      margin-left: 45px;
      color: $color-white;
      display: block;
      font-size: 43px;
      font-style: italic;
      font-weight: 900;
      text-decoration: none;
      width: 20%;
    }

    &__list {
      padding-left: 0;
      font-size: 0; // 1 Убираем отступы между li
      width: 60%;
      text-align: center;

      &-item {
        display: inline-block; // 0 Убираем отступы между li
        font-size: 13px; // 2 Убираем отступы между li
        color: $color-white;
        font-weight: 700;

        a {
          margin-left: 20px;
          margin-right: 20px;
          color: inherit;
          text-decoration: none;

          &:hover,
          &:focus {
            color: $color-yellow;
            transition: all 0.3s ease-in-out;
          }
        }

        &.active {
          color: $color-yellow;
        }
      }
    }

    &__cart {
      display: flex;
      align-items: center;
      margin-right: 45px;
      width: 20%;
      justify-content: flex-end;

      a {
        display: block;
        margin-left: 5px;
        width: 21px;
        height: 21px;
        border-radius: 100%;
        text-align: center;
        line-height: 21px;
        font-size: 10px;
        color: $color-rose;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        background-color: $color-yellow;
        text-decoration: none;

        &:hover,
        &:focus {
          background-color: $color-white;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}


// slider buttons
.slick-prev,
.slick-next {
  font-size: 0;
  background: rgba($color-black, 0.1) url(../img/left.svg) center center no-repeat;;
  width: 42px;
  height: 42px;
  display: block;
  border-radius: 100%;
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -66px; // 21px + 45px =  чтобы стало по центру, так как размер самой кнопки 42px и 90px - размер меню которое находится поверх слайдера
  margin-left: 45px;
  cursor: pointer;
  z-index: 1;

  &:hover,
  &:focus {
    background: $color-yellow url(../img/left_hover.svg) center center no-repeat;
  }
}

.slick-next {
  right: 0;
  margin-right: 45px;
  z-index: 1;
  // transform: rotate(180deg); // нам не подходит
  transform: scale(-1, 1); // Зеркальное отражение по горизонтали.
}