.main {

  &-about {
    display: flex;
    align-items: stretch;

    &__image {
      width: 50%;
      background-size: cover;
      background-position-x: center;
    }

    &__hello {
      padding: 133px 125px 125px 90px;
      width: 50%;

      span {
        font-size: 25px;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        line-height: 1;
      }

      h3 {
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 37px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
      }

      p {
        line-height: 24px;
      }
    }
  }

  &-features {
    display: flex;
    align-items: stretch; // всегда задан по умолчанию, можно не писать

    &__advantages {
      width: 50%;
      padding: 0 90px 0 125px;
      display: flex;
      align-items: center;

      &-list {

        &-item {
          margin-top: 30px;
          margin-bottom: 30px;
          margin-right: 80px;
          width: calc(50% - 80px);
          list-style: url(../img/dot.svg);
          float: left; // TODO: flex-box

          h3 {
            margin-top: 0;
            margin-bottom: 23px;
            font-size: 16px;
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
          }

          p {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }

    &__team {
      width: 50%;
      background-color: #b7e3b9;
      position: relative;
      padding: 100px 125px 65px 90px;

      &-slider {
        width: 100%;
        
        &-item {
          width: 33.33%;

          figure {
            margin: 0;
          }

          &-wrapper {
            overflow: hidden;
            display: flex;
            justify-content: center;

            &-inline-block {
              position: relative;
              display: inline-block;
            
              &:hover .main-features__team-slider-item-spoiler,
              &:focus .main-features__team-slider-item-spoiler {
                bottom: 0;
              } 
            }
          }

          &-spoiler {
            position: absolute;
            bottom: -60px;
            right: 0;
            left: 0;
            height: 60px;
            background-color: rgba(74, 99, 74, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: bottom 0.3s ease-in-out;

            .icon-twitter-circled {
              display: block;
              font-size: 20px;
              color: #ffffff;
            }

            .icon-facebook-circled {
              display: block;
              font-size: 20px;
              color: #ffffff;
            }
          }

          &-caption {
            text-align: center;


            h4 {
              margin-top: 27px;
              margin-bottom: 10px;
              font-size: 18px;
              text-transform: uppercase;
              font-weight: 800;
            }

            span {
              font-family: 'Questrial', sans-serif;
              font-size: 10px;
              text-transform: uppercase;
              line-height: 18px;
            }
          }
        }
      }

      &-buttons {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -38px;

        &-prev,
        &-next {
          width: 38px;
          height: 38px;
          background: #ec9b9b url(../img/left.svg) center center no-repeat;
          display: block;
          border: 0;

          &:hover {
            background-color: #fee489
          }
        }

        &-next {
          transform: scale(-1, 1);
        }
      }
    }
  }

  &-contact {
    display: flex;
    align-items: stretch;

    &__shop {
      padding: 130px 90px 130px 125px;
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-size: cover;
      background-position-x: center;

      &-left-part {

        h4 {
          margin-top: 0;
          margin-bottom: 30px;
          font-size: 47px;
          font-family: 'Raleway', sans-serif;
          font-weight: 900;
        }

        a {
          padding: 13px 20px;
          border:  4px solid #000000;
          font-size: 11px;
          font-family: 'Raleway', sans-serif;
          font-weight: 900;
          text-transform: uppercase;
          line-height: 11px;
          display: inline-block;
          text-decoration: none;
          letter-spacing: 5px;
          color: #000000;
        }
      }

      &-right-part {
        margin-right: 30%;
        display: flex;
        align-items: center;

        &-title {
          font-size: 12px;
          font-style: italic;
          font-weight: 500;
          font-family: 'Raleway', sans-serif;
          text-align: right;
        }

        &-price {
          display: block;
          margin-left: 8px;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background: #fee489;
          text-align: center;
          line-height: 64px;
          font-family: 'Raleway', sans-serif;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }

    &__feedback {
      padding: 75px 100px 60px 90px;
      width: 50%;
      background-size: cover;
      background-position-x: center;
      display: flex;
      justify-content: space-between;

      &-form {
        width: 54.5%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        h4 {
          margin-top: 0;
          margin-bottom: 35px;
          font-size: 37px;
          font-family: 'Raleway', sans-serif;
          font-weight: 500;
          line-height: 1;
        }

        &-text,
        &-email {
          border: 0;
          height: 55px;
          width: calc(50% - 7px);
          border-top: 1px solid #eaedee;
          padding-left: 20px;
          color: #898989;
          font-size: 12px;
          font-family: 'Raleway', sans-serif;
          background-color: #f7fafb;

          &:nth-child(2) {
            margin-left: 10px;
          }
        }

        textarea {
          margin-top: 12px;
          margin-bottom: 12px;
          padding: 20px;
          width: 100%;
          height: 100px;
          background-color: #f7fafb;
        }

        &-submit {
          padding: 18px 35px;
          border: 0;
          background-color: #fee489;
          font-family: 'Raleway', sans-serif;
          font-size: 16px;
          line-height: 16px;
          font-weight: 900;
          text-transform: uppercase;
        }
      }

      &-twitter {
        width: 37%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-login {
          display: block;
          margin-top: 18px;
          margin-bottom: 25px;
          font-family: 'Raleway', sans-serif;
          color: #a2a2a2;
          font-size: 17px;
          font-style: italic;
          font-weight: 500;
        }

        p {
          margin-bottom: 10px;
          text-align: center;
          font-family: 'Raleway', sans-serif;
          color: #000000;
          font-size: 19px;
          font-weight: 500;
        }

        &-date {
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-size: 10px;
          color: #a2a2a2;
        }
      }
    }
  }
}