$color-dark-rose: #73495b;

$color-rose: #7f5568;

$color-white: #ffffff;

$color-black: #000000;

$color-yellow: #fee489;

$color-dark-grey: #898989;

$color-light-gray:#f7fafb;

$color-grey: #a2a2a2;

$color-light-green: #b7e3b9;

$color-dark-green:#4a634a;

$color-light-red: #ec9b9b;

$color-light-rose: #9c7588;