/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

/* xl */
/* lg */
/* md */
/* sm */
/* xs */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

p {
  color: #898989;
  margin: 0;
}

.header {
  position: relative;
}

.header-slider__item figure {
  position: relative;
  margin: 0;
}

.header-slider__item-image {
  display: block;
  height: 70vh;
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
}

.header-slider__item-category {
  position: absolute;
  top: 33.1%;
  left: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-slider__item-category-info {
  max-width: 994px;
  padding-left: 90px;
  padding-bottom: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: relative;
  line-height: 1;
}

.header-slider__item-category-info::after {
  content: 'olins';
  position: absolute;
  left: -3.9%;
  top: -16.7%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 350px;
  color: rgba(115, 73, 91, 0.05);
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 900;
}

.header-slider__item-category-info span {
  margin-bottom: 20px;
  color: #7f5568;
  font-size: 21px;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  line-height: 1;
  display: block;
}

.header-slider__item-category-info h2 {
  margin: 0;
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.1;
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 1px;
}

.header-slider__item-category-info-link {
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.header-slider__item-category-info-link a {
  margin-left: 10px;
  color: #7f5568;
}

.header-slider__item-category-info-link a:hover {
  text-decoration: none;
}

.header-menu {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(115, 72, 92, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__logo {
  margin-left: 45px;
  color: #ffffff;
  display: block;
  font-size: 43px;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 900;
  text-decoration: none;
  width: 20%;
}

.header-menu__list {
  padding-left: 0;
  font-size: 0;
  width: 60%;
  text-align: center;
}

.header-menu__list-item {
  display: inline-block;
  font-size: 13px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.header-menu__list-item a {
  margin-left: 20px;
  margin-right: 20px;
  color: inherit;
  text-decoration: none;
}

.header-menu__list-item a:hover {
  color: #fee489;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-menu__list-item.active {
  color: #fee489;
}

.header-menu__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 45px;
  width: 20%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu__cart a {
  display: block;
  margin-left: 5px;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  text-align: center;
  line-height: 21px;
  font-size: 10px;
  color: #7f5669;
  font-family: Arial, Helvetica, sans-serif serif;
  background-color: #fee489;
  text-decoration: none;
}

.header-menu__cart a:hover {
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slick-prev,
.slick-next {
  font-size: 0;
  background: rgba(0, 0, 0, 0.1) url(../img/left.svg) center center no-repeat;
  width: 42px;
  height: 42px;
  display: block;
  border-radius: 100%;
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -66px;
  margin-left: 45px;
  cursor: pointer;
  z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
  background: #fee489 url(../img/left_hover.svg) center center no-repeat;
}

.slick-next {
  right: 0;
  margin-right: 45px;
  z-index: 1;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.main-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main-about__image {
  width: 50%;
  background-size: cover;
  background-position-x: center;
}

.main-about__hello {
  padding: 133px 125px 125px 90px;
  width: 50%;
}

.main-about__hello span {
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  line-height: 1;
}

.main-about__hello h3 {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 37px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.main-about__hello p {
  line-height: 24px;
}

.main-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main-features__advantages {
  width: 50%;
  padding: 0 90px 0 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-features__advantages-list-item {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 80px;
  width: calc(50% - 80px);
  list-style: url(../img/dot.svg);
  float: left;
}

.main-features__advantages-list-item h3 {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.main-features__advantages-list-item p {
  font-size: 12px;
  line-height: 18px;
}

.main-features__team {
  width: 50%;
  background-color: #b7e3b9;
  position: relative;
  padding: 100px 125px 65px 90px;
}

.main-features__team-slider {
  width: 100%;
}

.main-features__team-slider-item {
  width: 33.33%;
}

.main-features__team-slider-item figure {
  margin: 0;
}

.main-features__team-slider-item-wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-features__team-slider-item-wrapper-inline-block {
  position: relative;
  display: inline-block;
}

.main-features__team-slider-item-wrapper-inline-block:hover .main-features__team-slider-item-spoiler,
.main-features__team-slider-item-wrapper-inline-block:focus .main-features__team-slider-item-spoiler {
  bottom: 0;
}

.main-features__team-slider-item-spoiler {
  position: absolute;
  bottom: -60px;
  right: 0;
  left: 0;
  height: 60px;
  background-color: rgba(74, 99, 74, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: bottom 0.3s ease-in-out;
  -o-transition: bottom 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out;
}

.main-features__team-slider-item-spoiler .icon-twitter-circled {
  margin: 0 5px;
  display: block;
  font-size: 20px;
  color: #ffffff;
}

.main-features__team-slider-item-spoiler .icon-facebook-circled {
  margin: 0 5px;
  display: block;
  font-size: 20px;
  color: #ffffff;
}

.main-features__team-slider-item-caption {
  text-align: center;
}

.main-features__team-slider-item-caption h4 {
  margin-top: 27px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
}

.main-features__team-slider-item-caption span {
  font-family: 'Questrial', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 18px;
}

.main-features__team-buttons {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -38px;
}

.main-features__team-buttons-prev, .main-features__team-buttons-next {
  width: 38px;
  height: 38px;
  background: #ec9b9b url(../img/left.svg) center center no-repeat;
  display: block;
  border: 0;
}

.main-features__team-buttons-prev:hover, .main-features__team-buttons-next:hover {
  background-color: #fee489;
}

.main-features__team-buttons-next {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.main-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main-contact__shop {
  padding: 130px 90px 130px 125px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position-x: center;
}

.main-contact__shop-left-part h4 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 47px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.main-contact__shop-left-part a {
  padding: 13px 20px;
  border: 4px solid #000000;
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 11px;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 5px;
  color: #000000;
}

.main-contact__shop-right-part {
  margin-right: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-contact__shop-right-part-title {
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  text-align: right;
}

.main-contact__shop-right-part-price {
  display: block;
  margin-left: 8px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #fee489;
  text-align: center;
  line-height: 64px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.main-contact__feedback {
  padding: 75px 100px 60px 90px;
  width: 50%;
  background-size: cover;
  background-position-x: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-contact__feedback-form {
  width: 54.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-contact__feedback-form h4 {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 37px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 1;
}

.main-contact__feedback-form-text, .main-contact__feedback-form-email {
  border: 0;
  height: 55px;
  width: calc(50% - 7px);
  border-top: 1px solid #eaedee;
  padding-left: 20px;
  color: #898989;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  background-color: #f7fafb;
}

.main-contact__feedback-form-text:nth-child(2), .main-contact__feedback-form-email:nth-child(2) {
  margin-left: 10px;
}

.main-contact__feedback-form textarea {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 20px;
  width: 100%;
  height: 100px;
  background-color: #f7fafb;
}

.main-contact__feedback-form-submit {
  padding: 18px 35px;
  border: 0;
  background-color: #fee489;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 900;
  text-transform: uppercase;
}

.main-contact__feedback-twitter {
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-contact__feedback-twitter-login {
  display: block;
  margin-top: 18px;
  margin-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  color: #a2a2a2;
  font-size: 17px;
  font-style: italic;
  font-weight: 500;
}

.main-contact__feedback-twitter p {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-size: 19px;
  font-weight: 500;
}

.main-contact__feedback-twitter-date {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  color: #a2a2a2;
}

.footer {
  min-height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #73485c;
  position: relative;
  overflow: hidden;
}

.footer::after {
  content: 'olins';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #774c60;
  font-family: 'Raleway', sans-serif;
  font-size: 400px;
  font-style: italic;
  font-weight: 900;
  line-height: 250px;
  z-index: 0;
}

.footer__left {
  padding-left: 125px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.footer__left-info {
  -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
  color: #9c7588;
  font-size: 11px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.2;
}

.footer__left-contacts {
  -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
  color: #9c7588;
  font-size: 11px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.2;
}

.footer__left-contacts-phone {
  display: block;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer__left-contacts-adress {
  display: block;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer__left-navigation {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.footer__left-navigation-list {
  margin: 0;
  margin-right: -40px;
  padding-left: 0;
  height: 80px;
  list-style: none;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.footer__left-navigation-list-item {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 26px;
  color: #fee489;
  text-decoration: none;
}

.footer__left-navigation-list-item:hover {
  text-decoration: underline;
}

.footer__right {
  padding-right: 125px;
  width: 50%;
  text-align: right;
  z-index: 1;
}

.footer__right-social a {
  margin-left: 27px;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__right-social a:hover {
  color: white;
}
