<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title OLINS SHOP
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display:400i|Questrial|Raleway:400,500,500i,700,800,900,900i&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="assets/css/style.css")
    link(rel="stylesheet", href="libs/slick/slick.css")
    link(rel="stylesheet", href="libs/slick/slick-theme.css")
    link(rel="stylesheet", href="libs/fontello/css/animation.css")
    link(rel="stylesheet", href="libs/fontello/css/fontello.css")
    link(rel="stylesheet", href="libs/fontello/css/fontello-codes.css")
    link(rel="stylesheet", href="libs/fontello/css/fontello-ie7-codes.css")
  body
    header(class="header")
      .header-slider
        .header-slider__item
          figure
            //- img(src="assets/img/slider.jpg", alt="slider-image")
            div(class="header-slider__item-image"  style="background-image: url(assets/img/slider1.jpg)")
            figcaption.header-slider__item-category
              .header-slider__item-category-info
                span announcement
                h2 There are many 
                  br
                  | variations of passages 
                  br
                  | of Lorem Ipsum
                .header-slider__item-category-info-link
                  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="10px") 
                    path(fill-rule="evenodd"  fill="rgb(254, 228, 137)" d="M9.165,4.946 C9.165,5.274 8.996,5.549 8.751,5.729 L5.489,8.990 C5.104,9.376 4.480,9.376 4.095,8.990 C3.710,8.605 3.710,7.981 4.095,7.596 L5.758,5.933 L1.277,5.933 C0.732,5.933 0.291,5.492 0.291,4.946 C0.291,4.402 0.732,3.961 1.277,3.961 L5.857,3.961 L4.094,2.198 C3.709,1.812 3.709,1.188 4.094,0.803 C4.479,0.418 5.104,0.418 5.489,0.803 L8.867,4.181 C9.043,4.357 9.123,4.583 9.138,4.813 C9.145,4.858 9.165,4.899 9.165,4.946 Z")
                  a(href="#") Details
        .header-slider__item
          figure
            //- img(src="assets/img/slider.jpg", alt="slider-image")
            div(class="header-slider__item-image"  style="background-image: url(assets/img/slider2.jpg)")
            figcaption.header-slider__item-category
              .header-slider__item-category-info
                span announcement
                h2 There are many 
                  br
                  | variations of passages 
                  br
                  | of Lorem Ipsum
                .header-slider__item-category-info-link
                  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="10px") 
                    path(fill-rule="evenodd"  fill="rgb(254, 228, 137)" d="M9.165,4.946 C9.165,5.274 8.996,5.549 8.751,5.729 L5.489,8.990 C5.104,9.376 4.480,9.376 4.095,8.990 C3.710,8.605 3.710,7.981 4.095,7.596 L5.758,5.933 L1.277,5.933 C0.732,5.933 0.291,5.492 0.291,4.946 C0.291,4.402 0.732,3.961 1.277,3.961 L5.857,3.961 L4.094,2.198 C3.709,1.812 3.709,1.188 4.094,0.803 C4.479,0.418 5.104,0.418 5.489,0.803 L8.867,4.181 C9.043,4.357 9.123,4.583 9.138,4.813 C9.145,4.858 9.165,4.899 9.165,4.946 Z")
                  a(href="#") Details
        .header-slider__item
          figure
            //- img(src="assets/img/slider.jpg", alt="slider-image")
            div(class="header-slider__item-image"  style="background-image: url(assets/img/slider3.jpg)")
            figcaption.header-slider__item-category
              .header-slider__item-category-info
                span announcement
                h2 There are many 
                  br
                  | variations of passages 
                  br
                  | of Lorem Ipsum
                .header-slider__item-category-info-link
                  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="10px") 
                    path(fill-rule="evenodd"  fill="rgb(254, 228, 137)" d="M9.165,4.946 C9.165,5.274 8.996,5.549 8.751,5.729 L5.489,8.990 C5.104,9.376 4.480,9.376 4.095,8.990 C3.710,8.605 3.710,7.981 4.095,7.596 L5.758,5.933 L1.277,5.933 C0.732,5.933 0.291,5.492 0.291,4.946 C0.291,4.402 0.732,3.961 1.277,3.961 L5.857,3.961 L4.094,2.198 C3.709,1.812 3.709,1.188 4.094,0.803 C4.479,0.418 5.104,0.418 5.489,0.803 L8.867,4.181 C9.043,4.357 9.123,4.583 9.138,4.813 C9.145,4.858 9.165,4.899 9.165,4.946 Z")
                  a(href="#") Details
      nav.header-menu
        a.header-menu__logo(href="#") Olins
        ul.header-menu__list
          li.header-menu__list-item.active
            a(href="#") HOME
          li.header-menu__list-item
            a(href="#") ABOUT US
          li.header-menu__list-item
            a(href="#") WORKS
          li.header-menu__list-item
            a(href="#") BLOG
          li.header-menu__list-item
            a(href="#") STORE
          li.header-menu__list-item
            a(href="#") CONTACT
        //- - var items = ['HOME', 'ABOUT US', 'WORKS','BLOG','STORE','CONTACT']
        //-     ul.header-menu__list    
        //-       - for (var i=0; i<items.length; i++) {     
        //-           li
        //-             a(href="#").header-menu__list-item= items[i]
        //-       - }
        span.header-menu__cart
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px")
            path(fill-rule="evenodd"  fill="rgb(254, 228, 137)" d="M16.005,1.615 L13.925,7.500 L13.857,7.495 C13.693,7.791 13.401,8.000 13.053,8.000 L6.548,8.000 L6.798,8.999 L13.000,8.999 C13.552,8.999 14.000,9.447 14.000,10.000 C14.000,10.552 13.552,10.999 13.000,10.999 L6.000,10.999 C5.448,10.999 5.000,10.552 5.000,10.000 C5.000,9.941 5.024,9.890 5.033,9.834 L3.079,1.999 L2.500,1.999 L2.500,1.846 C2.351,1.935 2.186,1.999 2.000,1.999 L1.000,1.999 C0.448,1.999 -0.000,1.552 -0.000,0.999 C-0.000,0.447 0.448,-0.000 1.000,-0.000 L2.000,-0.000 C2.186,-0.000 2.351,0.064 2.500,0.153 L2.500,-0.000 L4.500,-0.000 L15.000,-0.000 C15.552,-0.000 16.000,0.447 16.000,0.999 C16.000,1.230 15.909,1.433 15.778,1.602 L16.005,1.615 ZM5.052,1.999 L6.050,5.999 L12.483,5.999 L13.896,1.999 L5.052,1.999 ZM6.500,12.999 C7.328,12.999 8.000,13.671 8.000,14.499 C8.000,15.328 7.328,15.999 6.500,15.999 C5.671,15.999 5.000,15.328 5.000,14.499 C5.000,13.671 5.671,12.999 6.500,12.999 ZM12.500,12.999 C13.328,12.999 14.000,13.671 14.000,14.499 C14.000,15.328 13.328,15.999 12.500,15.999 C11.671,15.999 11.000,15.328 11.000,14.499 C11.000,13.671 11.671,12.999 12.500,12.999 Z")
          a(href="#") 0
    main.main
      section.main-about
        .main-about__image(style="background-image: url(assets/img/info.jpg);")
        .main-about__hello
          span hello!
          h3 About Olins Shop
          p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
      section.main-features
        .main-features__advantages
          ul.main-features__advantages-list
            li.main-features__advantages-list-item
              h3 OUR ADVENTAGES
              p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
            li.main-features__advantages-list-item
              h3 SKILLS
              p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
            li.main-features__advantages-list-item
              h3 EXPERIENCE
              p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
            li.main-features__advantages-list-item
              h3 PROFESSIONAL TEAM
              p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
        .main-features__team
          .main-features__team-buttons
          .main-features__team-slider
            .main-features__team-slider-item
              figure
                .main-features__team-slider-item-wrapper
                  .main-features__team-slider-item-wrapper-inline-block
                    img(src="assets/img/team_1.jpg", alt="team-image").main-features__team-slider-item-image
                    .main-features__team-slider-item-spoiler
                      a(href="#")
                        i.icon-twitter-circled
                      a(href="#")
                        i.icon-facebook-circled
                figcaption.main-features__team-slider-item-caption
                  h4 Aubrey Ramirez
                  span designer
            .main-features__team-slider-item
              figure
                .main-features__team-slider-item-wrapper
                  .main-features__team-slider-item-wrapper-inline-block
                    img(src="assets/img/team_2.jpg", alt="team-image").main-features__team-slider-item-image
                    .main-features__team-slider-item-spoiler
                      a(href="#")
                        i.icon-twitter-circled
                      a(href="#")
                        i.icon-facebook-circled
                figcaption.main-features__team-slider-item-caption
                  h4 Aubrey Ramirez
                  span designer
            .main-features__team-slider-item
              figure
                .main-features__team-slider-item-wrapper
                  .main-features__team-slider-item-wrapper-inline-block
                    img(src="assets/img/team_3.jpg", alt="team-image").main-features__team-slider-item-image
                    .main-features__team-slider-item-spoiler
                      a(href="#")
                        i.icon-twitter-circled
                      a(href="#")
                        i.icon-facebook-circled
                figcaption.main-features__team-slider-item-caption
                  h4 Aubrey Ramirez
                  span designer
            .main-features__team-slider-item
              figure
                .main-features__team-slider-item-wrapper
                  .main-features__team-slider-item-wrapper-inline-block
                    img(src="assets/img/team_1.jpg", alt="team-image").main-features__team-slider-item-image
                    .main-features__team-slider-item-spoiler
                      a(href="#")
                        i.icon-twitter-circled
                      a(href="#")
                        i.icon-facebook-circled
                figcaption.main-features__team-slider-item-caption
                  h4 Aubrey Ramirez
                  span designer
            .main-features__team-slider-item
              figure
                .main-features__team-slider-item-wrapper
                  .main-features__team-slider-item-wrapper-inline-block
                    img(src="assets/img/team_2.jpg", alt="team-image").main-features__team-slider-item-image
                    .main-features__team-slider-item-spoiler
                      a(href="#")
                        i.icon-twitter-circled
                      a(href="#")
                        i.icon-facebook-circled
                figcaption.main-features__team-slider-item-caption
                  h4 Aubrey Ramirez
                  span designer
            .main-features__team-slider-item
              figure
                .main-features__team-slider-item-wrapper
                  .main-features__team-slider-item-wrapper-inline-block
                    img(src="assets/img/team_3.jpg", alt="team-image").main-features__team-slider-item-image
                    .main-features__team-slider-item-spoiler
                      a(href="#")
                        i.icon-twitter-circled
                      a(href="#")
                        i.icon-facebook-circled
                figcaption.main-features__team-slider-item-caption
                  h4 Aubrey Ramirez
                  span designer
      section.main-contact
        .main-contact__shop(style="background-image: url(assets/img/shop.jpg);")
          .main-contact__shop-left-part
            h4 NEW
              br
              | OLINS SHOP
            a(href="#") Details
          .main-contact__shop-right-part
            span.main-contact__shop-right-part-title Red
              br
              | Blouse
            span.main-contact__shop-right-part-price  €25
        .main-contact__feedback(style="background-image: url(assets/img/twitter.jpg);")
          .main-contact__feedback-form
            h4 Contact us
            form(action="form.php" method="post")
              input(type="text" placeholder="Your name" class="main-contact__feedback-form-text")
              input(type="email" placeholder="E-mail" class="main-contact__feedback-form-email")
              textarea(name="" cols="20" rows="3" placeholder="Your message...")
              input(type="submit" value="submit" class="main-contact__feedback-form-submit")
          .main-contact__feedback-twitter
            img(src="assets/img/twitter_icon.png", alt="twitter-icon")
            span.main-contact__feedback-twitter-login @Olins
            p It is a long established fact that a reader will be distracted by the readable content
            span.main-contact__feedback-twitter-date 1 day ago
    footer.footer

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="libs/slick/slick.min.js")
    script(src="assets/js/main.js")
    